* {
  margin: 0px;
  padding: 0px;
}

body {
  background: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

.App {
  /* background: chartreuse; */
  text-align: center;
}

/*Image List*/

.section {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-list {
  margin-right: 4vw;
  margin-left: 4vw;
  justify-content: space-between;
  height: 300px;
  width: 300px;
  margin-bottom: 6vw;
}

.image {
  height: 90%;
  width: 90%;
}

.image img {
  height: 100%;
  width: 100%;
}

/*Searchbar*/
.searchbar {
  display: flex;
  justify-content: center;
  margin-top: 10vw;
  /* background: blue; */
  margin-bottom: 5vw;
}

input {
  width: 25vw;
  height: 30.2px;
  border: none;
}

.searchbtn {
  background: rgb(16, 16, 29);
  width: 10vw;
  height: 31px;
  color: orangered;
  border: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

/* SINGLE ITEM PAGE */
.phototab {
  position: relative;
}
.single-image {
  background: rgb(149, 175, 187);
  height: 25vw;
  width: 90%;
  margin: 20px auto;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: absolute;
  top: 3vw;
  left: 10vw;
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  font-size: 1vw;
}
.infos {
  background: white;

  height: 100%;
  width: 15vw;
  max-width: 100%;
  margin: auto;
  text-align: left;
  border-radius: 5px;
}

.infos h2 {
  margin-left: 5px;
}

.infos h4 {
  margin-top: 15px;
  margin-left: 10px;
}
